Lesson7_ServiceAndDataContract/ServiceAndDataContractDemo/WindowsClient/Service References/TemperatureService/TemperatureService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ia.com/wcf" elementFormDefault="qualified" targetNamespace="http://www.ia.com/wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCurrentTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentTempResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getforecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetforecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetforecastResult" nillable="true" type="tns:Forecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Forecast">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Day1Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Day1High" type="xs:int" />
      <xs:element minOccurs="0" name="Day1Low" type="xs:double" />
      <xs:element minOccurs="0" name="Day2Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Day2High" type="xs:int" />
      <xs:element minOccurs="0" name="Day2Low" type="xs:int" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Forecast" nillable="true" type="tns:Forecast" />
  <xs:element name="SaveForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="forecast" nillable="true" type="tns:Forecast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveForecastResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>